body {
    background: #0f0f12;
    color: white;
    font-family: Poppins, sans-serif;
    padding: 20px;
}
/* Wallet Page UI */
.wallet-container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    color: white;
}

.wallet-balance {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.amount {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.wallet-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wallet-actions button {
    background: #5a2dff;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 48%;
}

.wallet-actions button:hover {
    background: #734dff;
}

.wallet-transactions {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
}

.wallet-transactions ul {
    list-style: none;
    padding: 0;
}

.wallet-transactions li {
    padding: 8px 0;
    border-bottom: 1px solid #333;
}